/.idea/
/cmake-build-debug/
/cmake-build-release/
/build
/resources/weights/
/runs/
events.out.tfevents.*
/resources/data/coco/
/resources/data/imagenet/
/resources/data/voc/images/
/resources/data/voc/labels/
/resources/data/voc/train-*.txt
/resources/data/voc/train.txt
/resources/data/voc/val-*.txt
/resources/data/voc/val.txt
/resources/images/*.jpg
/python/__pycache__/
/ruby/.idea/
/monitor/node_modules/
/monitor/dist/

*.geojson
*.qml
*.aux.xml
/docs/html/
/docs/latex/
/python/.idea/
/build-python*
